.pixel{
  width:1350px;
  margin: -12px;
  height: 3900px;
  border:50px solid blue;
}

.jogo{
  margin-left: 1px;
  margin-top: 50px;
 border-radius: 220px;
  border:50px solid red;
  position: absolute;
}
.jogo1{
  margin-left: 710px;
  margin-top: 50px;
 border-radius: 170px;
  border:50px solid red;
  position: absolute;
}
.jogo2{
  margin-left: 1px;
  margin-top: 850px;
 border-radius: 170px;
  border:50px solid red;
  position: absolute;
}
.jogo3{
  margin-left: 710px;
  margin-top: 850px;
 border-radius: 170px;
  border:50px solid red;
  position: absolute;
}
.jogo4{
  margin-left: 1px;
  margin-top: 1650px;
 border-radius: 170px;
  border:50px solid red;
  position: absolute;
}
.jogo5{
  margin-left: 710px;
  margin-top: 1650px;
 border-radius: 170px;
  border:50px solid red;
  position: absolute;
}
.jogo6{
  margin-left: 1px;
  margin-top: 2430px;
 border-radius: 170px;
  border:50px solid red;
  position: absolute;
}
.jogo7{
  margin-left: 710px;
  margin-top: 2430px;
 border-radius: 170px;
  border:50px solid red;
  position: absolute;
}
.numero{
  font-size: 250px;
  margin-left: 590px;
  margin-top: 3500px;
  position: absolute;
}